doctype html
html(lang="ru")
	head
		title Pug includes
		include templates/head.pug
	body
		main.main-page
			include templates/slider.pug
			include templates/about.pug
			include templates/testimonials.pug
			include templates/program.pug
			include templates/container2.pug
			include templates/price.pug
			include templates/registration.pug
			include templates/questions.pug
			include templates/contacts.pug

		include templates/footer.pug
		include templates/scripts.pug

