.container
	.row
		.col-md-4.col-md-offset-4
			h2.text-heading Cертификация
	.row
		.col-md-5
			img.hero-img.img-responsive(src='img/certificate.jpg', alt='')
		.col-md-7
			p
				| Спрос на квалифицированных специалистов в области ERP-систем в России растет и существенно превышает предложение. Многие предприятия стали уделять повышенное внимание оптимизации внутренних бизнес-процессов, снижению издержек за счет более качественного их учета и анализа. Использование средств автоматизированного учета, электронного документооборота и различных аналитических инструментов становится повседневной работой для рядовых сотрудников компаний.
			p
				| Учитывая обострившуюся конкуренцию в IT-сфере, возникает вопрос о гарантиях для работодателя уровня профессиональных знаний, полученных студентами, которые обычно еще не имеют достаточного опыта работы. Традиционно данный вопрос решается с помощью системы 
				strong профессиональной сертификации
				| , при которой знания слушателя подтверждены независимым образом.
			p
				| Наилучшим вариантом является схема, при которой сертификацию осуществляет непосредственно компания – производитель IT- решения. В этом случае достигается максимальная заинтересованность всех сторон в поддержании высокого уровня знаний.
				br
				| 						По окончании курса слушателям предоставляется уникальная возможность сдать сертификационный пройти обучение и получить сертификат SAP.
			p
				| Экзамен принимается непосредственно представителем компании SAP.
				br
				| 						Сертификационный тест состоит из 
				strong 80 вопросов
				|  и занимает 
				strong 3 часа
				| .
				br
				| 						При успешной сдаче слушатели получают сертификат 
				strong
					| «SAP Certified Associate Business Foundation & Integration with SAP ERP 6.0 EHP5»
				| .
			p
				| Стоимость сертификационного экзамена 
				strong не входит в стоимость курса
				|  и составляет 
				strong 140 евро
				|  (оплата в рублях по внутреннему курсу компании SAP).